body {
  margin: 0;
  padding: 0;
  font-family: arial;
  background: url('https://images.unsplash.com/photo-1611175694980-28f22148760f') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: brightness(0.7);
}

/*estilo del formulario del login*/

.login-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
  text-align: center;
  color: #fff;
  max-width: 400px;
  width: 100%;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: #ff2e63;
  margin-bottom: 10px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #ff2e63;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.login-form button:hover {
  background-color: #ff1e50;
}

.register-link {
  margin-top: 16px;
  font-size: 14px;
}

.register-link a {
  color: #ff2e63;
  text-decoration: none;
}
